.card{
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 20px;
    transition: .3s ease-in-out;
    margin-bottom:20px;
}

.card:hover {
    box-shadow: 1px 8px 20px rgba(0,0,0,0.1);
}

.card .card-content .c-head-section{
    display: flex;
}

.card .card-content .c-head-section div:first-child{
    flex: 3%;
   
}
.card .card-content .c-head-section div:nth-child(2){
    flex: 80%;
    font-weight: 600;
}

.card .card-content .c-head-section div:last-child{
    flex: 5%;
}


.card .card-content .c-footer-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.card .card-content .c-footer-section .icon-rounded {
    width: 15px;
    height: 15px;
    /* background-color: yellow; */
    border-radius: 100%;
}

.card .card-content .c-footer-section div:first-child {
   margin-right: 10px;
}

.card .card-content .c-footer-section div:nth-child(2) {
    margin-right: 10px;
}

.card .card-content .c-footer-section div:last-child .star {
    margin-right: 5px;
}